body {
  background-color: #d7e6eb;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

h3 {
  font-size: 20px;
  color: #2b3297; }
  h3 :hover {
    color: #95f3bf; }

.page__header {
  display: flex;
  margin: 0;
  margin-bottom: 5px; }
  .page__header img {
    max-width: 100px;
    height: auto;
    margin-left: 20px;
    margin-right: 100px; }

.main__baner img {
  width: 100%;
  max-height: 550px;
  margin-top: 100px; }

h1 {
  color: #deeff3; }

ul {
  display: flex; }
  ul li {
    flex: 1;
    text-decoration: none;
    list-style-type: none; }

a {
  text-decoration: none;
  color: cornflowerblue;
  font-size: medium; }

nav {
  margin-bottom: 100px; }

.page__header {
  background-color: #54545a;
  max-height: 100px;
  position: fixed;
  z-index: 30;
  width: 100%; }

li {
  margin: 10px; }

.main-section {
  margin-top: 200px;
  width: 500px;
  margin-left: auto;
  margin-right: auto; }

#forms {
  display: flex; }

input :nth-child(1) {
  margin: 10px; }

input {
  width: auto;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  margin-bottom: 15px;
  letter-spacing: 2px; }

.code {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  margin-top: 100px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto; }

.code__box {
  color: #0d2c31;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 30%;
  height: auto; }

.info {
  margin-left: 100px;
  color: #197e05;
  text-align: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto; }

/*# sourceMappingURL=style.css.map */
