body {
    background-color: rgb(215, 230, 235);
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    font-size: 20px;
    color: rgb(43, 50, 151);
    :hover{
        color: rgb(149, 243, 191);
        
    }
    
}

.page__header {
    display: flex;
    margin: 0;
    margin-bottom: 5px;
    img {
        max-width: 100px;
        height: auto;
        margin-left: 20px;
        margin-right: 100px;
    }

}
.main__baner img{
    width:100%;
    max-height: 550px;
    margin-top: 100px;
}