@mixin position {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.code {
    display: flex;
    flex:2;
    flex-wrap: wrap;
    margin-top: 100px;
    @include position();
    
}
.code__box{
    
    color: rgb(13, 44, 49);
    @include position();
    margin-bottom: 50px;
    width: 30%;
    height: auto;
    
}
.info {
    margin-left: 100px;
    color: rgb(25, 126, 5);
    text-align: center;
    @include position()
}