.main-section{
    margin-top: 200px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
#forms {
    display: flex;
    
}

   
input :nth-child(1){
    
    margin: 10px;
    
}
input{
    width: auto;
    height: 30px; 
    margin-left: auto;   
    margin-right: auto;
    font-size: 20px;
    margin-bottom: 15px;
    letter-spacing: 2px;

}
