h1 {
    color: rgb(222, 239, 243);
}
ul {
    display: flex;
    li {
        flex:1;
        text-decoration: none;
        list-style-type: none;
    }
}
a{
    text-decoration: none;
    color: cornflowerblue;
    font-size: medium;

}
nav {
    margin-bottom: 100px;
}

.page__header {
    background-color:rgb(84, 84, 90);
    max-height: 100px;
    position: fixed;
    z-index: 30;
    width:100%;
}
li{
    margin:10px;
}